.button {
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 4.8rem 0;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.button:hover {
  filter: brightness(80%);
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}
